<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
    <form method="post" action="products">
        <div>
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description" cols="3" >

            </textarea>
        </div>
        <div>
            <label>Price</label>
            <input type="number" step="0.01" name="price">
        </div>
        <div>
            <label>Category</label>
            <select name="category">
                <option value="COMPUTER">Computer</option>
                <option value="PHONE">Phone</option>
            </select>
        </div>
    </form>
</body>
</html>